@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    box-sizing: border-box;
  }
body {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}
#screen {
    box-shadow: 0px 5px 20px rgb(179, 179, 255);
    margin-top: 20px;
    width: 450px;
    height: 900px;
    position: relative;
}

.status-bar {
    display: flex;
    padding: 5px;
    background-color: lavender;
    font-size: 13px;
    justify-content: space-between;
    width: 450px; 
    position: inherit; 
}

.status-bar__column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.status-bar__column > * {
    margin: 0px 5px;
}

.status-bar__wifi {
    justify-content: flex-start;
}

.status-bar__battery {
    justify-content: flex-end;
}


#menu {
    background-color: lavender;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    padding: 30px;
}

#menu > * {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#menu > *:hover:not(#menu>div) {
    cursor: pointer;
    color: rgb(119, 29, 255);
}

#menu>div {
    cursor: default;
    font-size: medium;
}

#content {
    overflow: scroll;
    height: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header > h1 {
    font-size: xx-large;
    font-weight: 500;
}
.header>div>* {
    margin: 0px 10px;
    font-size: large;
}